@model Contacts

@{
    ViewBag.Title = "create";
}

<h1>Details</h1>

<h1>Create</h1>

<h4>Contacts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Home" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNum" class="control-label"></label>
                <input asp-for="@Model.PhoneNum" class="form-control" />
                <span asp-validation-for="@Model.PhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

